


.main-container{
  margin-left:5%;
  padding:20px;
}

.tab-content{
    height: 88vh;
    overflow: auto;
}


.modal-body{
    max-height: 80vh;
    overflow-y: auto;
}

.home-table >tbody> tr{
    cursor: pointer;
}

.show>.btn-primary.dropdown-toggle{
  background-color: #f7f7f7 !important;
  color:black !important;
  border:0px;
}

.filter-dropdown>button,.filter-dropdown>button:hover,.filter-dropdown>button:active ,.filter-dropdown>button:focus{
  background-color: #f7f7f7;
  border:0px;
  color: black;
  width:100%;
}

